.Image_container {
    
    /*position: relative;*/
    /*top: 100px;*/
    /*left: 300px;*/
    margin-left: 8px;
    width: 800px;
    height: 500px;
}
.title {
    text-align: center;
    font-size: 30px;
    
}
.arrows{
    position: absolute;
    top:280px;
    width: 100%;
}
.arrows ul {
    list-style-type: none;
}
#forward {
    float: right;
   margin-right:100px;
}
#back {
    float: left;
    margin-left:50px;
}
.typing{
    margin-top: 10px;
    width: 100%;
    float: left;
   
}
.typing textarea{
    width: 70%;
    height: 100%;
    margin: 0px 5px 0px 10px;
}
.typing button{
    width: 20%;
    margin-left: 4%;
    float: left;
}
.gallery-container {
    max-width: 60%;
    height: 100%;
   
    margin-left: 20%;
}
.coments table {
    width: 100%;
}
.coments table tr{
    border: 1px solid;
}
#heat {
    font-weight: bold;
    color: green;
    margin-left: 2%;
}
#content {
    margin-left: 5%;
 
}
#addPhoto {
    position:absolute;
    top:70px;
    right:30px;
}