.avatar {
    border:1px solid;   
}
.avatar-container {
    width: 260px;
    height: 380px;
    max-width: 30%;
    margin-left: 25%;
    float: left;
}
#userInfo {
    margin-left: 50px;
    float: left;
    width: 30%;
    height: 380px;
    max-width: 50%;
}
h2 {
    position:absolute;
    right:30px;
    top:30px;
}
.file {
  visibility: hidden;
  position: absolute;
}
#search {
    width:100%;
}
#friends {
    max-width:54%;
    margin-left:24%;
    position:relative;
}
.profile-box {
    height:400px;
}
