@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImagesGallery</title>
    
</head>
<body>
    <div id="allUsers"> 
    </div>
</body>
</html>
